<h1>Weather</h1>

<%= form_tag root_path, method: :get do %>
    <%= text_field_tag :cityname, params[:cityname]%>
    <%= submit_tag "Lookup" %>
<% end %>

<% if @weatherObject.present? %>
    <%= @weatherObject.weather[0].icon %>
     <img src="http://openweathermap.org/img/wn/<%= @weatherObject.weather[0].icon %>@2x.png" alt="Weather Icon">
     <%=@weatherObject.main.temp_max%>
<% end %>

<% if @error.present? %>
    <%= @error %>
<% end %>



