<% content_for :title, "Weathers" %>
<br/>
<%= link_to "New weather", new_weather_path %>
<br/>
<br/>
<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark" >
    <tr>
      <th>City</th>
      <th>Temp(F)</th>  
      <th>Current Time</th> 
      <th colspan="3"><center>Actions</center></th>
    </tr>
  </thead>
  <tbody>
    <% @weathers.each do |weather| %>
      <% if weather.user_id == current_user.id %>

      <% client = OpenWeather::Client.new(api_key: '3e5f289c92a862485c6d5744519e168c') %>

      <% if weather.city == "" %>
        <%= @nothing = "NA" %>
      <% elsif weather.city %>
        <% @weatherObject = client.current_weather(city: "#{weather.city}")  %>
        <% if !@weatherObject.name %>
          <% @error = "NA" %>
        <% end %>
      <% end %>
        <tr>
          <td><%= link_to @weatherObject.name, weather %></td>
          <td><%= (((@weatherObject.main.temp - 273.15) * 9/5) + 32).round(2) %></td>
          <td><%= Time.now.in_time_zone(@weatherObject.timezone).strftime("%Y-%m-%d %H:%M:%S %p") %></td>
          <td><center><%= link_to "Edit", edit_weather_path(weather), class: "btn btn-secondary" %></center></td>
          <td><center><%= link_to "Delete", weather, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></center></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

