<% content_for :title, "Weathers" %>

<h1>Weathers</h1>
<br/>
<%= link_to "New weather", new_weather_path %>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th></th>
      <th>City</th>
      <th>Temp(F)</th>  
      <th>Current Time</th> 
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @weathers.each do |weather| %>
      <% if weather.user_id == current_user.id %>

      <% client = OpenWeather::Client.new(api_key: '3e5f289c92a862485c6d5744519e168c') %>

      <% if weather.city == "" %>
        <%= @nothing = "NA" %>
      <% elsif weather.city %>
        <% @weatherObject = client.current_weather(city: "#{weather.city}")  %>
        <% if !@weatherObject.name %>
          <% @error = "NA" %>
        <% end %>
      <% end %>
        <tr>
          <td style="padding-right: 10px;"><img src="<%= @weatherObject.weather[0].icon_uri %>" alt="Weather Icon"></td>
          <td style="padding-right: 10px;"><%= @weatherObject.name %></td>
          <td style="padding-right: 30px;"><%= (((@weatherObject.main.temp - 273.15) * 9/5) + 32).round(2) %></td>
          <td style="padding-right: 10px;"><%= Time.now.in_time_zone(@weatherObject.timezone).strftime("%Y-%m-%d %H:%M:%S %p") %></td>
          <td style="padding-right: 10px;"><%= link_to "Show", weather %></td>
          <td style="padding-right: 10px;"><%= link_to "Edit", edit_weather_path(weather) %></td>
          <td style="padding-right: 10px;"><%= link_to "Destroy", weather, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

